* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9; 
    color: #333; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
header {
    background: linear-gradient(90deg, #008080, #20b2aa); 
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

header h1 {
    font-size: 36px;
    color: #fff; 
    margin-left: 20px;
    display: flex;
    align-items: center;
}

header h1 img {
    height: 48px;
    width: 32px;
    margin-right: 10px;
    margin-top: 32px;
}

.container h1 span{
    margin-top: 32px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
    font-size: x-large;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #ffd700; 
    transform: scale(1.1);
}

/* Hero section styles */
.hero {
    text-align: center;
    padding: 100px 0;
    background: linear-gradient(rgba(0, 128, 128, 0.5), rgba(0, 128, 128, 0.5)), url('/assets/herobg.png') no-repeat center center/cover;
    color: #fff; 
    position: relative;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
    animation: fadeIn 2s ease-in-out 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 12px 30px;
    background: linear-gradient(45deg, #ff6347, #ff4500); 
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.15);
    transition: width 0.1s, height 0.1s, top 0.1s, left 0.1s;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.btn:hover::before {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
}

.btn:hover {
    background: linear-gradient(45deg, #ff4500, #ff6347); 
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}


/* Content section styles */
.content-section {
    text-align: center;
    padding: 60px 0;
    background-color: #a1eff9; 
    color: #333; 
    position: relative;
    overflow: hidden;
}

.content-section::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255,255,255,0.2), rgba(255,255,255,0));
    animation: rotateBg 10s linear infinite;
}

@keyframes rotateBg {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.content-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}

/* Genre and Language list styles */
.genre-list, .language-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}

.genre, .language {
    text-align: center;
    position: relative;
}

.genre img{
    width: 60%;
    border: 2px solid #066419; 
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.language img{
    width: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.genre img:hover, .language img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* About and Contact section styles */
#about, #contact {
    background-color: #fff; 
}

#about h2, #contact h2 {
    color: #008080; 
}

#about p, #contact p {
    color: #555; 
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 20px;
}

/* Contact section styles */
#contact {
    text-align: center;
    padding: 60px 0;
    background-color: #fff; 
    color: #333; 
}

.contact-info {
    margin-top: 40px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
}

.contact-info p {
    font-size: 18px;
    margin: 10px 15px;
    display: flex;
    align-items: center;
}

.contact-info img {
    height: 24px;
    width: 24px; 
    margin-right: 5px; 
}

.contact-info a {
    color: #008080; 
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: #20b2aa; 
}


/* Footer styles */
footer {
    background: linear-gradient(90deg, #008080, #20b2aa); 
    color: #fff; 
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
